.appContainer {
  display: flex;
  align-items: center;
}

.rightBox {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem;

  background-color: #262626;
  border-radius: 8px;
}
